.navbarLayout {
    background-image: url("./frontend/img/logo_bucketlistDreams.jpg");
    /*background-position: left;*/
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: green;*/
    /*display: flex;*/
    height: 100px;
    margin: 0;
}